version: "3.9"

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: symfony_app
    volumes:
      - ..:/var/www/html                  # code source monté localement
      - uploads:/var/www/html/public/uploads  # volume dédié pour uploads
    ports:
      - "8002:80"
    env_file:
      - ../.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
      - ./docker/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    ports:
      - "127.0.0.1:27017:27017"

volumes:
  mongo_data:
  uploads:
